html {
	font-family: monospace, monospace;
	text-align: center;
	user-select: none;
	color: black;
	background-color: rgb(220, 220, 220);
	text-shadow: 0 0 1px #000000, 0 0 2px #000000;
	overflow-x: hidden;
}
#mainHeader {
	width: 100%;
	position: relative;
	height: 300px;
	top: 0px;
	margin: 0 -9999rem;
	padding: .25rem 9999rem;
	margin-top: -0.5em;
	background: linear-gradient(#5f72be, #9921e8);
	position: relative;

}
#text {
	top: 35%;
	position: relative;
}
button {
	background: none;
	border: none;
}
footer {
	position: fixed;
	bottom: 10px;
	width: 100%;
}
@media only screen and (max-width: 600px) {
	content {
		width: 100%;
	}
}